@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: auto, 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ql-container,
.ql-editor,
.ql-editor p {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  outline: none !important;
  box-shadow: none !important;
  heigth: 100% !important;
  /* Add any other styles you need */
}

.ql-editor p img {
  display: block;
  margin: auto;
  max-width: 100%;
}

/* Default height for screens smaller than 768px */
.ql-editor .ql-video {
  width: 100%;
  height: 250px; /* Adjust the default height as needed */
}

/* Media query for screens 768px and larger */
@media screen and (min-width: 768px) {
  .ql-editor .ql-video {
    height: 350px; /* Adjust the height for screens 768px and larger */
  }
}

/* Media query for screens 1024px and larger */
@media screen and (min-width: 1024px) {
  .ql-editor .ql-video {
    height: 450px; /* Adjust the height for screens 1024px and larger */
  }
}

@media screen and (min-width: 1724px) {
  .ql-editor .ql-video {
    height: 550px; /* Adjust the height for screens 1024px and larger */
  }
}
